body{
    background-color: hsl(30, 38%, 92%);
}


section{
    background-color: white;
    display: flex;
    margin: auto;
    width: 1200px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.productPhoto{
    border-radius: 25px 0 0 25px;
}

.productInfo{
    width: 600px;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 10px;
    font-size: 25px;
    color: grey;
}

h2{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.9;
    margin-block: 0.5em;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: grey;
}

.price{
    display: flex;
}

.newPrice{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 0.9;
    margin-block: 0.5em;
    color: hsl(158, 36%, 37%);
}

.oldPrice{
    margin: auto;
    text-decoration: line-through;
}

button{
    background-color: hsl(158, 36%, 37%);
    font-size: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 100px;
    flex-wrap: wrap;
    align-content: center;
    border-radius: 15px;
    border-style: none;
}

button:hover{
    background-color: hsl(159, 37%, 15%);
    cursor: pointer;
}
.cartIcon{
    width: 30px;
    height: 30px;

}
